<h1>Listing lehrers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fach1</th>
      <th>Fach2</th>
      <th>Fach3</th>
      <th>Fach4</th>
      <th>Ug</th>
      <th>Uv</th>
      <th>Ums</th>
      <th>Fr</th>
      <th>Anzahl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lehrers.each do |lehrer| %>
      <tr>
        <td><%= lehrer.name %></td>
        <td><%= lehrer.fach1 %></td>
        <td><%= lehrer.fach2 %></td>
        <td><%= lehrer.fach3 %></td>
        <td><%= lehrer.fach4 %></td>
        <td><%= lehrer.ug %></td>
        <td><%= lehrer.uv %></td>
        <td><%= lehrer.ums %></td>
        <td><%= lehrer.fr %></td>
        <td><%= lehrer.Anzahl %></td>

        <td><%= link_to 'Show', lehrer %></td>
        <td><%= link_to 'Edit', edit_lehrer_path(lehrer) %></td>
        <td><%= link_to 'Destroy', lehrer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lehrer', new_lehrer_path %> <br>
 <a href="/seiten/welcome">Zurück</a>
