<p id="notice"><%= notice %></p>

<p>
  <strong>Ug:</strong>
  <%= @lbewertung.ug %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @lbewertung.uv %>
</p>

<p>
  <strong>Fr:</strong>
  <%= @lbewertung.fr %>
</p>

<p>
  <strong>Ums:</strong>
  <%= @lbewertung.ums %>
</p>

<p>
  <strong>Lehrerid:</strong>
  <%= @lbewertung.lehrerid %>
</p>

<p>
  <strong>Anzahl:</strong>
  <%= @lbewertung.anzahl %>
</p>

<%= link_to 'Edit', edit_lbewertung_path(@lbewertung) %> |
<%= link_to 'Back', lbewertungs_path %>
