<%= form_for(@lehrerbewertung) do |f| %>
  <% if @lehrerbewertung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lehrerbewertung.errors.count, "error") %> prohibited this lehrerbewertung from being saved:</h2>

      <ul>
      <% @lehrerbewertung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ug %><br>
    <%= f.number_field :ug %>
  </div>
  <div class="field">
    <%= f.label :uv %><br>
    <%= f.number_field :uv %>
  </div>
  <div class="field">
    <%= f.label :fr %><br>
    <%= f.number_field :fr %>
  </div>
  <div class="field">
    <%= f.label :ums %><br>
    <%= f.number_field :ums %>
  </div>
  <div class="field">
    <%= f.label :lehrerid %><br>
    <%= f.number_field :lehrerid %>
  </div>
  <div class="field">
    <%= f.label :anzahl %><br>
    <%= f.number_field :anzahl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
