<p id="notice"><%= notice %></p>

<p>
  <strong>Ug:</strong>
  <%= @lehrerbewertung.ug %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @lehrerbewertung.uv %>
</p>

<p>
  <strong>Fr:</strong>
  <%= @lehrerbewertung.fr %>
</p>

<p>
  <strong>Ums:</strong>
  <%= @lehrerbewertung.ums %>
</p>

<p>
  <strong>Lehrerid:</strong>
  <%= @lehrerbewertung.lehrerid %>
</p>

<p>
  <strong>Anzahl:</strong>
  <%= @lehrerbewertung.anzahl %>
</p>

<%= link_to 'Edit', edit_lehrerbewertung_path(@lehrerbewertung) %> |
<%= link_to 'Back', lehrerbewertungs_path %>
